<!DOCTYPE html>
<html  lang="en">
<head>
  <title>Git GraphJs Rendering</title>
  <!-- https://github.com/nicoespeon/gitgraph.js -->
  <script src="https://cdn.jsdelivr.net/npm/@gitgraph/js"></script>

  <script>
	import {GitgraphJS}
	
    let graphContainer;
    let gitgraph;

    function refresh() {

      var port = document.getElementById('port').value;
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {

          if (this.readyState == 4 && this.status == 200) {
            gitgraph.import(JSON.parse(this.responseText));
            myVar = setTimeout(refresh, 1000);
          }
        };
        xhttp.open("GET", `http://localhost:${port}/data`, true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
    }

    function startMonitor() {
      graphContainer = document.getElementById("graph-container");
	  
	  var customTemplate = GitgraphJS.templateExtend(GitgraphJS.TemplateName.BlackArrow, {
        commit: {
          message: {
            displayAuthor: false,
          },
        },
      });
	  
      gitgraph = GitgraphJS.createGitgraph(graphContainer, {
        "orientation": "vertical",
        "template" : customTemplate
      });
      refresh();
    }

</script>
</head>
<body>
  <div id="graph-container"></div>
  <div id="control">
    <input type="text" id="port" value="10000" />
    <button onclick="startMonitor()">Start Monitor</button>
  </div>
</body>
</html>